@import "~quill/dist/quill.core.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Ludida_Handwriting';
  src: url('../src/fonts/LucidaHandwritingStdRg.TTF');
}
@font-face {
  font-family: 'Alex_Handwriting';
  src: url('./fonts/AlexBrush-Regular.ttf');
}
@font-face {
  font-family: 'GreatVibes_Handwriting';
  src: url('./fonts/GreatVibes-Regular.ttf');
}

@font-face {
  font-family: 'AyulYars_Handwriting';
  src: url('./fonts/Unicorns\ are\ Awesome\ -\ TTF.ttf');
}
@font-face {
  font-family: 'akaDora_handwriting';
  src: url('./fonts/akaDora.ttf');
}
@font-face {
  font-family: 'southam_Handwriting';
  src: url('./fonts/Spring\ Snowstorm.ttf');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerDiv{
  color: #616161 ;
  animation: loaderWithOpacity 0.5s ease-out;
}

.header{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: 800;
  cursor: pointer;

}

.box{
  animation: boxTranlate 0.5s ease-out;
  background-color: rgb(236, 236, 236);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 8px 2px rgb(163, 163, 163);
  border-radius: 40px;
  width: 500px;
  height: 350px;
}

.loadOpacityAnimation {
  animation: loaderWithOpacity 0.5s ease-out;
}

.animateBox{
  animation: boxTranlate 0.4s ease-out;
}

@keyframes boxTranlate {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.box form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxHeader{
  font-weight: 600;
  color: #727272;
  font-size: x-large;
}

.inputField{
  width: 250px;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #adadad;
  padding: 8px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  color: #727272;
  transition: border-color 0.4s;
  transition: color 0.4s;
}

.inputField::placeholder{
  color: #adadad;
  font-size: small;
}

.inputField:focus{
  color: rgb(194 65 12);
  border-color:rgb(194 65 12) ;
}

.button{
  cursor: pointer;
  margin-top: 20px;
  width: 150px;
  height: 40px;
  background-color: rgb(194 65 12);
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 10px;
  color: white;
  transition: background-color 0.5s;
}
.button:hover{
  background: rgb(15 118 110);
}

.navBarItem{
  color: #616161;
  margin: 0 30px;
  animation: loaderWithOpacity 0.5s ease-out;
}

.navBarItem:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
  text-decoration-color: #919191;
}

.headerNotHome{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-size: 50px;
  animation: loaderWithOpacity 0.5s ease-out;
}

.headerWrapper{
  justify-content: center;
  /* animation: justifyContent 0.5s ease-out; */
}

.headerDivNotHome{
  color: #616161;
  /* animation: headerCenterAnimater 0.5s ease-out; */
}

@keyframes loaderWithOpacity {
  0%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

@keyframes headerCenterAnimater{
  0%{
    /* position: absolute;
    left:50px */
  }
  100%{
    /* position: absolute;
    left: 38%; */
  }
}

@keyframes justifyContent {
  0%{
    justify-content: space-between;
  }
  100%{
    justify-content: center;
  }
}


.buttonHome{
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right,#002e58,#000e35);
  color: white;
  width: 140px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 30px;
  transition: width 0.25s;
  cursor: pointer;
  transform: translateY(150px);
  animation: homeButtonAnimation 0.2s ease-out;
  z-index: 50;
}

.buttonHome:hover{
  width: 180px;
}
.buttonHome:hover .iconRightArrow{
  font-size: 30px;
  opacity: 1;
}

.iconRightArrow{
  font-size: 0;
  opacity: 0;
  transition: opacity 0.25s;
  transition: font-size 0.15s;
}

@keyframes homeButtonAnimation {
  0%{
    opacity: 0;
  }
  70%{
    opacity: 0.2s;
  }
  100%{
    opacity: 1;
  }
}

.typingText{
  font-family: 'GreatVibes_Handwriting';
  font-weight: bold;
  font-size: 50px;
  color: #2b2b2b;
  animation: fontChanger 25s infinite;
}


@keyframes fontChanger {
  0%{
    font-family: 'Alex_Handwriting';
  }
  25%{
    font-family: 'AyulYars_Handwriting';
  }
  50%{
    font-family: 'Ludida_Handwriting';
  }
  75%{
    font-family: 'akaDora_handwriting';
  }
  100%{
    font-family: 'GreatVibes_Handwriting';
  }
}

.alex{
  font-family: 'Alex_Handwriting';
}
.lucida{
  font-family: 'Ludida_Handwriting';
}
.akadora{
  font-family: 'akaDora_handwriting';
}
.ayul{
  font-family: 'AyulYars_Handwriting';
}
.greatVibes{
  font-family: 'GreatVibes_Handwriting';
}
.southam{
  font-family: 'southam_Handwriting';
}

.textcard::-webkit-scrollbar{
  overflow: hidden;
}

.handwrittenFont{
  font-family: 'Alex_Handwriting';
  font-size: 30px;
}

.noScrollBar{
  scrollbar-width: none;
}

.noScrollBar::-webkit-scrollbar{
  display: none;
}